.product-list {
    width: 100%;
    height: 50vh;
    .mat-row {
        &:hover {
            cursor: pointer;
            background-color: #eee;
        }
    }
    .mat-footer-row,
    .mat-row:focus {
        outline: none;
    }

    .mat-sort-header-sorted {
        color: black;
    }
}